# http://192.168.12.56:8002
server {
    listen 6002;
    server_name  127.0.0.1 localhost 192.168.12.88;

    location / {
            # root /home/web1_root;
            proxy_pass http://192.168.20.124:6888;
            proxy_read_timeout 300;
            proxy_connect_timeout 300;
            proxy_redirect     off;

            proxy_hide_header Access-Control-Allow-Origin;
            proxy_hide_header Access-Control-Allow-Credentials;
            proxy_hide_header Access-Control-Allow-Methods;
            proxy_hide_header Access-Control-Allow-Headers;

            add_header Access-Control-Allow-Origin 'http://192.168.12.88:7002';
            add_header Access-Control-Allow-Credentials true;
            add_header Access-Control-Allow-Methods 'GET, POST, OPTIONS';
            add_header Access-Control-Allow-Headers 'DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Authorization';

            # proxy_set_header   X-Forwarded-Proto $scheme;
            # proxy_set_header   Host              $http_host;
            # proxy_set_header   X-Real-IP         $remote_addr;
        }
}
